In [1]:
import pymongo
import pandas as pd

In [2]:
conn = pymongo.MongoClient()
conn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
chatbot = conn.chatbot
chatbot

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'chatbot')

In [4]:
purchaselist = chatbot.PurchaseList
purchaselist

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'chatbot'), 'PurchaseList')

In [5]:
docs = purchaselist.find({})

In [6]:
# pymongo에 저장된 데이터 가져와서 데이터프레임으로 변환하기
list = pd.DataFrame()
for doc in docs:
    df = pd.DataFrame(docs, columns={'user_id', 'purchase_product', 'payment_method', 'payment_total', 'payment_date'})
    list = list.append(df)
list

,payment_date,payment_method,payment_total,user_id,purchase_product
0,2022-04-19 23:29:00,무통장입금,49900,aaaaaa1234,[쿨탠다드] 우먼즈 피케 폴로 원피스 [블랙]
1,2022-04-19 23:44:00,무통장입금,49900,aaaaaa1234,[쿨탠다드] 우먼즈 피케 폴로 원피스 [네이비]
2,2022-04-19 23:48:00,신용카드,49900,admin,라이 맥시 롱 원피스 black[블랙]
3,2022-04-20 23:32:00,신용카드,49900,admin,여성 트위스트 셔츠 원피스 - 에스프레소 / DR254LF588495
4,2022-04-20 23:33:00,신용카드,39900,admin,여성 트위스트 원피스 - 레몬 글레이즈 / W221DR254LF588500
...,...,...,...,...,...
795,2022-04-19 23:48:00,무통장입금,49900,admin,(W) CGC 루즈핏 피케 원피스 네이비
796,2022-04-20 23:32:00,신용카드,49900,admin,블랙 골지 슬림핏 롱 원피스 (112571AC15)
797,2022-04-20 23:33:00,신용카드,49900,admin,블랙 골지 슬림핏 롱 원피스 (112571AC15)
798,2022-04-20 23:44:00,신용카드,49900,cncomchinaTreeflex,빅 카라 트위드 자켓 드레스 (퍼플)
799,2022-04-21 10:36:00,신용카드,49900,cncompeopleOtcom,[쿨탠다드] 우먼즈 피케 폴로 원피스 [블루 그레이]

In [7]:
# 특정 id에 대한 구매 목록 출력하기
purchase_list = list[list['user_id']=='admin']
purchase_list

,payment_date,payment_method,payment_total,user_id,purchase_product
2,2022-04-19 23:48:00,신용카드,49900,admin,라이 맥시 롱 원피스 black[블랙]
3,2022-04-20 23:32:00,신용카드,49900,admin,여성 트위스트 셔츠 원피스 - 에스프레소 / DR254LF588495
4,2022-04-20 23:33:00,신용카드,39900,admin,여성 트위스트 원피스 - 레몬 글레이즈 / W221DR254LF588500
701,2022-04-19 23:16:00,무통장입금,49900,admin,C 로고 후디 그레이
765,2022-04-19 23:29:00,신용카드,49900,admin,[쿨탠다드] 우먼즈 피케 폴로 원피스 [네이비]
795,2022-04-19 23:48:00,무통장입금,49900,admin,(W) CGC 루즈핏 피케 원피스 네이비
796,2022-04-20 23:32:00,신용카드,49900,admin,블랙 골지 슬림핏 롱 원피스 (112571AC15)
797,2022-04-20 23:33:00,신용카드,49900,admin,블랙 골지 슬림핏 롱 원피스 (112571AC15)

In [8]:
# 구매 상품 출력하기
purchase_product = list[list['user_id']=='admin']['purchase_product']
purchase_product_list = purchase_product.to_list()
print(purchase_product_list)

['라이 맥시 롱 원피스 black[블랙]', '여성 트위스트 셔츠 원피스 - 에스프레소 / DR254LF588495', '여성 트위스트 원피스 - 레몬 글레이즈 / W221DR254LF588500', 'C 로고 후디 그레이', '[쿨탠다드] 우먼즈 피케 폴로 원피스 [네이비]', ' (W) CGC 루즈핏 피케 원피스 네이비', ' 블랙 골지 슬림핏 롱 원피스 (112571AC15)', ' 블랙 골지 슬림핏 롱 원피스 (112571AC15)']

In [9]:
# 총 구매 가격 출력하기
purchase_tprice = list[list['user_id']=='admin']['payment_total'].astype(int).sum()
print(purchase_tprice)

389200

In [10]:
# 특정 id, 특정 시간에 따른 구매 목록 출력하기
purchase_list = list[(list['user_id']=='admin') & (list['payment_date'].str.contains('2022-04-19'))]
purchase_list

,payment_date,payment_method,payment_total,user_id,purchase_product
2,2022-04-19 23:48:00,신용카드,49900,admin,라이 맥시 롱 원피스 black[블랙]
701,2022-04-19 23:16:00,무통장입금,49900,admin,C 로고 후디 그레이
765,2022-04-19 23:29:00,신용카드,49900,admin,[쿨탠다드] 우먼즈 피케 폴로 원피스 [네이비]
795,2022-04-19 23:48:00,무통장입금,49900,admin,(W) CGC 루즈핏 피케 원피스 네이비

In [23]:
# 결제 건수 조회하기
list['payment_total'] = list['payment_total'].astype(int)
A = list[list['user_id']=='admin'][['payment_method', 'payment_total']]
A

    payment_method  payment_total
2             신용카드          49900
3             신용카드          49900
4             신용카드          39900
701          무통장입금          49900
765           신용카드          49900
795          무통장입금          49900
796           신용카드          49900
797           신용카드          49900

In [31]:
print(A[A['payment_method'] == '신용카드']['payment_method'].unique()[0])
print(A[A['payment_method'] == '신용카드']['payment_total'].sum())

신용카드
289400

In [32]:
print(A[A['payment_method'] == '무통장입금']['payment_method'].unique()[0])
print(A[A['payment_method'] == '무통장입금']['payment_total'].sum())

무통장입금
99800